h1 {
  width: 80%;
  margin: auto;
  text-align: center;
}

.container {
  border: 1px solid black;
  min-height: 100px;
  width: 80%;
  margin: 3% auto 3%;
}


.board {

  &__item {
    text-align: center;
    width: 80%;
    margin: 3% auto 3%;

    input {
      width: 70%;
      height: 20px;
    }

    button {
      width: 20%;
      height: 20px;
    }
  }
}

.tasks {

  &__list {

    &__item {
      
    }
  }
}